// Specific CSS for your home-page
body {
  background: #F2F5FB;
}

h1 {
  font-size: 20px;
  letter-spacing: -.005em;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: .008em;
}

.main {
  padding: 50px 0;
  max-width: 1065px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: center;
  color: $black;
  height: 200px;
  background: #FFF;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);

  img {
    max-width: 80px;
  }
}

.title {
  display: flex;
  padding: 20px;
  align-items: center;
}

.description {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  color: $black;
  padding: 30px 0;
  overflow: hidden;
  height: 120px;
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: $black;
  font-size: 16px;
  text-align: center;
  margin: 0 16px;
  padding: 3px 12px;
  text-decoration: none;
  &:hover {
    border-radius: 80px;
    background: black;
    color: #FFF;
    color: $black;
    text-decoration: none;
    background: black;
    border-radius: 4px;
    color: #FFF;
    transition: .1s ease-in-out;
  }
}
