// Specific CSS for your home-page
body {
  background: #FFF;
}

h1 {
  font-size: 25px;
}

.main {
  padding: 50px 0;
  max-width: 1065px;
  margin: auto;
}

header {
  text-align: center;
  color: $black;
  img {
    max-width: 100px;
  }
}

.description {
  padding: 30px 0;
}

ul {
  list-style-type: none;
  color: $black;
  margin: 0;
  padding: 30px 0;
  overflow: hidden;
  text-align: center;
  height: 120px;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: $black;
  text-align: center;
  margin: 0 16px;
  padding: 16px 0px 2px;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
    border-bottom: 3px solid $black;
    transition: .1s ease-in-out;
  }
}
