<div class="slice">
  <div class="slice-title">
    <p>Sign-up page</p>
  </div>
  <div class="slice-content">
    <div class="slice-screen">
      <%= image_tag("sign-up", width: 600, height: 428, alt: "sign-up form component") %>
    </div>
    <div class="slice-elements">
      <div class="color-palette">
        <p class = "slice-element-title">COLOR PALETTE</p>
        <div class="colors">
          <div class="color">
            <div class="color-preview" style="background-color: #1C0061; border-color: #0d002e">
            </div>
            <div class="color-info">
              <p class = "hex-color">#000000</p>
              <p class = "rgb-color">rgb(240, 240, 240)</p>
            </div>
          </div>
          <div class="color">
            <div class="color-preview" style="background-color: #1C0061; border-color: #0d002e">
            </div>
            <div class="color-info">
              <p class = "hex-color">#000000</p>
              <p class = "rgb-color">rgb(240, 240, 240)</p>
            </div>
          </div>
          <div class="color">
            <div class="color-preview" style="background-color: #1C0061; border-color: #0d002e">
            </div>
            <div class="color-info">
              <p class = "hex-color">#000000</p>
              <p class = "rgb-color">rgb(240, 240, 240)</p>
            </div>
          </div>
          <div class="color">
            <div class="color-preview" style="background-color: #1C0061; border-color: #0d002e">
            </div>
            <div class="color-info">
              <p class = "hex-color">#000000</p>
              <p class = "rgb-color">rgb(240, 240, 240)</p>
            </div>
          </div>
          <div class="color">
            <div class="color-preview" style="background-color: #1C0061; border-color: #0d002e">
            </div>
            <div class="color-info">
              <p class = "hex-color">#000000</p>
              <p class = "rgb-color">rgb(240, 240, 240)</p>
            </div>
          </div>
          <div class="color">
            <div class="color-preview" style="background-color: #1C0061; border-color: #0d002e">
            </div>
            <div class="color-info">
              <p class = "hex-color">#000000</p>
              <p class = "rgb-color">rgb(240, 240, 240)</p>
            </div>
          </div>
        </div>
      </div>
      <p class = "slice-element-title">FONTS</p>
      <div class="slice-fonts">
        <%= image_tag('font-test.png', width:100, height: 100, class: "slice-font") %>
        <%= image_tag('font-test.png', width:100, height: 100) %>
      </div>
      <p class = "slice-element-title">DESCRIPTION</p>
      <p class = "slice-description">Basic sign up page with flat design</p>
      <p class="slice-owner">@florentlienard</p>
    </div>
  </div>
</div>
