<div class="slice-space col-xs-10 col-md-5">
  <h4>Share button</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="ZXoMPp" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Expanding Share Button" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/ZXoMPp/">Expanding Share Button</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Anime.js hover effect</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="eGrjwq" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="anime.js hover effect" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/eGrjwq/">anime.js hover effect</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Hover effect with box-shadow</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="MEGPgj" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Button hover effects with box-shadow" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/MEGPgj/">Button hover effects with box-shadow</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Button Shine</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="gGzQoW" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Button Shine" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/gGzQoW/">Button Shine</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Toggle button</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="WZdjEz" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Toggle button" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/WZdjEz/">Toggle button</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Product Hunt buttons</h4>
<p data-height="300" data-theme-id="31484" data-slug-hash="RLMdvj" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Product Hunt - Buttons" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/RLMdvj/">Product Hunt - Buttons</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<%#= render 'shared/toggle-button' %>
<%#= render 'shared/product-hunt-button' %>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
