<div class="slice-space col-xs-10 col-md-5">
  <h4>Sheen Hover</h4>
<p data-height="300" data-theme-id="31484" data-slug-hash="qVaJNr" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Sheen Hover" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/qVaJNr/">Sheen Hover</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Button Shine</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="gGzQoW" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Button Shine" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/gGzQoW/">Button Shine</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Liquid button</h4>
  <p data-height="300" data-theme-id="light" data-slug-hash="WXQZRp" data-default-tab="result" data-user="andreasstorm" data-embed-version="2" data-pen-title="Liquid Button" class="codepen">See the Pen <a href="https://codepen.io/andreasstorm/pen/WXQZRp/">Liquid Button</a> by Andreas Storm (<a href="https://codepen.io/andreasstorm">@andreasstorm</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Anime.js hover effect</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="eGrjwq" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="anime.js hover effect" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/eGrjwq/">anime.js hover effect</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Share button</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="ZXoMPp" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Expanding Share Button" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/ZXoMPp/">Expanding Share Button</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Hover effect with box-shadow</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="MEGPgj" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Button hover effects with box-shadow" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/MEGPgj/">Button hover effects with box-shadow</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Toggle button</h4>
  <p data-height="300" data-theme-id="31484" data-slug-hash="WZdjEz" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Toggle button" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/WZdjEz/">Toggle button</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Bubble button</h4>
<p data-height="300" data-theme-id="31484" data-slug-hash="RPQPPB" data-default-tab="result" data-user="Grsmto" data-embed-version="2" data-pen-title="Button bubble effect" class="codepen">See the Pen <a href="https://codepen.io/Grsmto/pen/RPQPPB/">Button bubble effect</a> by Adrien Grsmto (<a href="https://codepen.io/Grsmto">@Grsmto</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</div>

<div class="slice-space col-xs-10 col-md-5">
  <h4>Cool button hover effect</h4>
<p data-height="300" data-theme-id="31484" data-slug-hash="WXGgQX" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Collection of Cool Button Hover Effects" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/WXGgQX/">Collection of Cool Button Hover Effects</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <h4>Fancy Buttons with Hover effects</h4>
<p data-height="300" data-theme-id="31484" data-slug-hash="VrKEyQ" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Fancy Buttons with Amazing Hover Effects" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/VrKEyQ/">Fancy Buttons with Amazing Hover Effects</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
