
<div class="slice-space">
  <h4>Articles News Card</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="BNjymy" data-default-tab="result" data-user="andytran" data-embed-version="2" data-pen-title="Article News Card" class="codepen">See the Pen <a href="https://codepen.io/andytran/pen/BNjymy/">Article News Card</a> by Andy Tran (<a href="https://codepen.io/andytran">@andytran</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<div class="slice-space col-xs-10 col-md-5">
  <h4>Articles News Card</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="mVqNjw" data-default-tab="result" data-user="littlesnippets" data-embed-version="2" data-pen-title="#1336 - Profile Card" class="codepen">See the Pen <a href="https://codepen.io/littlesnippets/pen/mVqNjw/">#1336 - Profile Card</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<div class="slice-space col-xs-10 col-md-5">
  <h4>UI Card Design</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="PqjJMR" data-default-tab="result" data-user="YoannN2" data-embed-version="2" data-pen-title="UI Card Design revisited :)" class="codepen">See the Pen <a href="https://codepen.io/YoannN2/pen/PqjJMR/">UI Card Design revisited :)</a> by Yoann Nouveau (<a href="https://codepen.io/YoannN2">@YoannN2</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</div>

<div class="slice-space col-xs-10 col-md-5">
  <h4>Articles News Card</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="gLWrrK" data-default-tab="result" data-user="havardob" data-embed-version="2" data-pen-title="Movie Card | CSS " class="codepen">See the Pen <a href="https://codepen.io/havardob/pen/gLWrrK/">Movie Card | CSS </a> by Håvard Brynjulfsen (<a href="https://codepen.io/havardob">@havardob</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<div class="slice-space col-xs-10 col-md-5">
  <h4>Profile Card</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="JYGzBB" data-default-tab="result" data-user="ariona" data-embed-version="2" data-pen-title="Material VCard" class="codepen">See the Pen <a href="https://codepen.io/ariona/pen/JYGzBB/">Material VCard</a> by Rian Ariona (<a href="https://codepen.io/ariona">@ariona</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<div class="slice-space col-xs-10 col-md-5">
  <h4>'Add to cart' card</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="eJpmNJ" data-default-tab="result" data-user="littlesnippets" data-embed-version="2" data-pen-title="#1268 - 'Add to cart' card" class="codepen">See the Pen <a href="https://codepen.io/littlesnippets/pen/eJpmNJ/">#1268 - 'Add to cart' card</a> by LittleSnippets.net (<a href="https://codepen.io/littlesnippets">@littlesnippets</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<div class="slice-space col-xs-10 col-md-5">
  <h4>'Add to cart' card</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="RRJyjQ" data-default-tab="result" data-user="mateusrdgs" data-embed-version="2" data-pen-title="Stripe - Payment " class="codepen">See the Pen <a href="https://codepen.io/mateusrdgs/pen/RRJyjQ/">Stripe - Payment </a> by Mateus Rodrigues (<a href="https://codepen.io/mateusrdgs">@mateusrdgs</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

