<div class="slice-space col-xs-10 col-md-5">
  <p data-height="300" data-theme-id="31484" data-slug-hash="NaYZWw" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Search Input animation" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/NaYZWw/">Search Input animation</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</div>
<div class="slice-space col-xs-10 col-md-5">
  <p data-height="300" data-theme-id="31484" data-slug-hash="NaYZWw" data-default-tab="result" data-user="florentlienard" data-embed-version="2" data-pen-title="Search Input animation" class="codepen">See the Pen <a href="https://codepen.io/florentlienard/pen/NaYZWw/">Search Input animation</a> by Florent Liénard (<a href="https://codepen.io/florentlienard">@florentlienard</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</div>
<%= render 'shared/interactive-search-bar' %>
