<div class="slice-space">
  <h4>Material Design Form</h4>
  <p data-height="800" data-theme-id="light" data-slug-hash="pvKYZG" data-default-tab="result" data-user="mikepro4" data-embed-version="2" data-pen-title="React signup form example" class="codepen">See the Pen <a href="https://codepen.io/mikepro4/pen/pvKYZG/">React signup form example</a> by Mikhail Proniushkin (<a href="https://codepen.io/mikepro4">@mikepro4</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space">
  <h4>Responsive Menu</h4>
    <p data-height="800" data-theme-id="light" data-slug-hash="yyyqJZ" data-default-tab="result" data-user="joshadamous" data-embed-version="2" data-pen-title="Material Design Login Form" class="codepen">See the Pen <a href="https://codepen.io/joshadamous/pen/yyyqJZ/">Material Design Login Form</a> by Josh Adamous (<a href="https://codepen.io/joshadamous">@joshadamous</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<div class="slice-space">
  <h4>Step by step register form</h4>
<p data-height="265" data-theme-id="light" data-slug-hash="EPNxPv" data-default-tab="result" data-user="JeromeRenders" data-embed-version="2" data-pen-title="Step by step register form" class="codepen">See the Pen <a href="https://codepen.io/JeromeRenders/pen/EPNxPv/">Step by step register form</a> by Jerome Renders (<a href="https://codepen.io/JeromeRenders">@JeromeRenders</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</div>

<div class="slice-space">
  <h4>One line sign up</h4>
  <p data-height="265" data-theme-id="light" data-slug-hash="ZBpebQ" data-default-tab="result" data-user="vineethtr" data-embed-version="2" data-pen-title="One line Signup" class="codepen">See the Pen <a href="https://codepen.io/vineethtr/pen/ZBpebQ/">One line Signup</a> by Vineeth.TR (<a href="https://codepen.io/vineethtr">@vineethtr</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
